/*
I like this palette, from light to dark:

F2F3F1 
85BFEE
146EE1
5261AA
202341


*/

.header {
    background-color: #202341;
    min-height: 25em;
    color: #f2f3f1;
    margin-top: 55px;
}

body{
    background-color: #f2f3f1;
}

.avatar{
    max-height: 200px;
    max-width: 200px;
    margin-top: 20px;
    margin-bottom: 10px;
}


/* maybe value if it's the case to just use padding OR margin and have a single selector? */
#project-showcase{
    background-color: #5261aa;
    color: #f2f3f1;
    padding-top: 30px;
    padding-bottom: 20px;
}

#project-showcase > div:not(:first-child) {
    margin-top: 30px;
}


hr{
    background:#f2f3f1;
}


.socialmedia-icon{
    font-size: 3em;
    background-color: #f2f3f1;
}